.calculator-display {
  letter-spacing: 2px;  
  font-family: Orbitron;
  border:7px solid #171F23 ;
  background:#D9D9D9;
  color:#10171C;
  border-bottom:none;
  width:354px;
  height: 106px;
  margin: 0;
  padding:17px ;
  padding-left: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  text-overflow: ellipsis;
}

.stackDiv {
  margin-left:10px;
  margin-bottom: 4px;
}


