.programWindow1 {
    height: 640px;
    width: 305px;
    display: flex;
    flex-direction: column;
    padding: 7px;
    margin: 0;
    /*background: -webkit-gradient(linear, right bottom, left top, from(#2D3F4D), to(#1D2932));*/
    /*box-shadow: 1px 4px 7px #10171C;*/
    border-radius: 0px 6px 6px 0px;
    background: #171F23;
    border-left: 4px solid #32424A;
}

.text-area-div {
    margin-bottom: 0px;
}

.textArea {
    width: 300px;
    height: 528px;
    border: solid 0px #10171C;
    outline: none;
    background: #10171C;
    font-family: Verdana;
    color: #D9D9D9;
    font-size: 16px;
    resize: none;
}

.textArea-menu {
    width: 300px;
    height: 528px;
    border: solid 0px #10171C;
    outline: none;
    background: #10171C;
    font-family: Verdana;
    color: #767676;
    font-size: 16px;
    resize: none;
}

.textArea-help {
    width: 300px;
    height: 528px;
    border: solid 0px #10171C;
    outline: none;
    background: #10171C;
    font-family: Verdana;
    color: #D9D9D9;
    font-size: 18px;
    resize: none;
}

.run-button,
.rec-button,
.clear-button {
    outline: none;
    font-size: 16px;
    margin: 5px;
    margin-left: 114px;
    border: none;
    width: 50px;
    height: 40px;
    border-radius: 4px;
    color: #32424A;
    color: #FFFFFF;
    background: #1C2429;
}

.clear-button {
    outline: none;
    font-size: 15px;
    margin: 5px 5px 5px 0px;
    border: none;
    width: 50px;
    height: 40px;
    color: #FFFFFF;
    background: #1C2429;
}

.rec-check {
    outline: none;
    font-size: 18px;
    font-weight: bold;
    width: 50px;
    height: 20px;
    margin-left: 3px;
    margin-top: 3px;
}

.rec-label {
    margin-left: 8px;
    color: #FFFFFF;
    font-size: 15px;
    font-family: Verdana;
}

.rec-div {
    margin: -26px 0px 0px 0px;
    width: 50px;
    display: flex;
}

.run-button:active,
.clear-button:active {
    background: #536A75;
}

.bottom-bar-div {
    background: #32424A;
    height: 50px;
    width: 305px;
    outline: none;
    border-radius: 0px 0px 4px 4px;
    margin-top: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.top-bar-div {
    background: #32424A;
    height: 60px;
    width: 305px;
    outline: none;
    border-radius: 0px 4px 0px 0px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;
}

.top-panel-label-help {
    font-family: Verdana;
    color: #A1A1A1;
    font-size: 18px;
    margin: 10px 5px 10px 195px;
}

.top-panel-label-program {
    font-family: Verdana;
    color: #A1A1A1;
    font-size: 18px;
    margin: 10px 5px 10px 159px;
    ;
}