.programWindow1 {
    height: 640px;
    display: flex;
    flex-direction: column;
    padding: 7px;
    margin: 0;
    /*background: -webkit-gradient(linear, right bottom, left top, from(#2D3F4D), to(#1D2932));*/
    /*box-shadow: 1px 4px 7px #10171C;*/
    border-radius: 0px 6px 6px 0px;
    background: #171F23;
    border-left: 4px solid #32424A;
}

.textArea {
    width: 300px;
    height: 582px;
    border: solid 0px #10171C;
    outline: none;
    /*border-radius: 4px;*/
    /*background: linear-gradient(#DDEDE7, #DDEDE7);*/
    background: #D9D9D9;
    font-family: Orbitron;
    color: #10171C;
    font-size: 16px;
    font-weight: bold;
}

.run-button,
.rec-button,
.clear-button {
    outline: none;
    font-size: 16px;
    margin: 5px;
    margin-left: 100px;
    border: none;
    width: 60px;
    height: 40px;
    border-radius: 4px;
    color: #32424A;
    color: #FFFFFF;
    /*background: linear-gradient(#303C41, #171F23);*/
    background: #1C2429;
}

.clear-button {
    outline: none;
    font-size: 15px;
    margin: 5px 5px 5px 0px;
    border: none;
    width: 50px;
    height: 40px;
    /*box-shadow: inset 0 0 0 1px #e3e3e3;
    box-shadow: 1px 2px 7px #10171C;*/
    color: #FFFFFF;
    /*background: linear-gradient(#303C41, #171F23);
    box-shadow: 1px 1px 2px #10171C;*/
    background: #1C2429;
}

.rec-check {
    outline: none;
    font-size: 18px;
    font-weight: bold;
    width: 50px;
    height: 20px;
    margin-left: 3px;
    margin-top: 3px;
}

.rec-label {
    margin-left: 8px;
    color: #FFFFFF;
    font-size: 15px;
    font-family: Verdana;
}

.rec-div {
    margin: -26px 0px 0px 0px;
    width: 50px;
    display: flex;
}

.run-button:active,
.clear-button:active {
    background: #536A75;
}

.bottom-bar-div {
    background: #32424A;
    height: 50px;
    width: 305px;
    outline: none;
    border-radius: 0px 0px 4px 4px;
    margin-top: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}