.saveProgram-button{
    height:500px;
    background: #000000;
}

.loaded-programs-button{
    display: block;
    margin: 0px 0px 0px 0px;
    outline: none;
    font-size: 13px;
    border: none;
    width: 114px;
    height: 30px;
    border-radius: 2px;
    color: #32424A;
    text-align: left;
    color: #FFFFFF;
    background: #32424A;
    border-bottom: 1px solid #1C2429;
}

.save-drop-down{
    position: absolute;
    height: 100px;
    display: flex;
    flex-direction: column;
    width:100px;
    margin : 50px 0px 0px 50px;
}
.load-drop-menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    width:100px;
    margin : 50px 0px 0px 104px;
}
.load-program-drop-down{
    display: block;
    margin: 100px 0px 0px 0px;
    outline: none;
    font-size: 13px;
    border: none;
    width: 114px;
    height: 40px;
    border-radius: 2px;
    /* color: #32424A; */
    text-align: left;
    color: #FFFFFF;
    /*background: linear-gradient(#303C41, #171F23);*/
    /* background: #32424A; */
    border-bottom: 1px solid #1C2429;
}

.save-program-button{
    outline: none;
    font-size: 20px;
    border: none;
    margin: 5px -5px -5px 48px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    color: #32424A;
    color: #E1E1E1;
    background: #1C2429;
    position: absolute;
}

.load-program-button:active,
.save-program-button:active,
.save-program-submit-button:active,
.loaded-programs-button:active {
    background: #536A75;    
}

.load-program-button{
    outline: none;
    font-size: 20px;
    border: none;
    margin: 5px -5px -5px 91px;
    width: 41px;
    height: 40px;
    border-radius: 4px;
    color: #32424A;
    color: #E1E1E1;
    background: #1C2429;
    position: absolute;
}

#inputValue{
    display: block;
    outline: none;
    font-size: 13px;
    border: none;
    width: 109px;
    height: 25px;
    border-radius: 4px;
    text-align: left;
    color: #32424A;
    background: #D8D7D7;
    border-bottom: 1px solid #1C2429;
    padding-left:5px;
}

.save-program-submit-button{
    outline: none;
    font-size: 13px;
    border: none;
    /* margin: 5px -5px -5px 104px; */
    margin-top: 29px;
    width: 114px;
    height: 30px;
    border-radius: 4px;
    color: #32424A;
    color: #FFFFFF;
    background: #32424A;
    position: absolute;
    border-bottom: 1px solid #1C2429;
}